---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ben Wawczak</h1>
			<p>I am a software enginner with a strong background in .NET development. When I am not coding, 
            you can find me exploring new music, casually watching sports, a good tv show, or playing a video game.
            I also enjoy fun adventures and experiences.</p>
		</main>
		<Footer />
	</body>
</html>
